<!DOCTYPE html>
<html>
  <head>
    <title>Zedex</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <%- if user_signed_in? %>
      <meta name="current-user" content="<%= current_user.to_json(root: false) %>" />
    <% end %>
  </head>
  <body>
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <% type = 'error' if type.to_s == 'alert' %>
        <div class="alert alert-<%= type %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
